<html>
	<head>
		<title>@Model.Title</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>@Model.Title</h1>

		<table class="data_table">
			<thead class="header">
				<tr>
					<td>Item</td>
					<td>Description</td>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model.items) {
					if (item.IncludeItem) {
						<tr class="@item.MappedStyle">
							<td class="data_BC">@item.MappedKind</td>
							<td>@item.Title</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</body>
</html>
